body {
  background-image:url("./recipecard.png");
}
.App-header {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid  black;
  
}
header div {
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}

header div a {
  text-decoration: none;
  text-decoration-color: black;
}

.welcome p {
  font-size: large;
  width: 50vw;
  background-color: rgb(244, 241, 235);
}

.login p {
  background-color: rgb(244, 241, 235);
}
.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

form, h1, h2, h3 {
  /* align-self: center; */
  padding: 1vw;
  /* background-color:rgb(244, 241, 235); */
}

main {
  text-align: center;
}

li {
  text-decoration: none;
}

.contents {
 display: flex;
 flex-direction: row;
}

.TOC {
  width:49vw;
}

.TOC-nav {
  width:49vw;
}
.preferences {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.preferences-1 {
  width: 25vw;
  align-content: right;
  text-align: right;
  padding-right: 1vw;
}

.preferences-2 {
  width: 25vw;
  align-content: left;
  text-align: left;
  padding-left: 1vw;
}