header {
  text-align: center;
  background-color: lightgrey;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  
  justify-content: space-around;
  
}
header div {
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}

header div a {
  text-decoration: none;
}

main {
  text-align: center;
}

li {
  text-decoration: none;
}